 <!--Partial of Head  -->
 <% include ../partials/head %> 

 <style>
        #del {
            bottom: 45px;
            position: relative;
            left: 2px;
        }
    </style>

  <body>    

    <!-- partials For NAV -->
<% include ../partials/nav %>

<!-- Container -->
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"> <h2>CUSTOMER DETAILS</h2></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
        
                        <tr>
                            <td>Customer Id </td>
                            <td>
                                <%= details.idCustomer %>
                            </td>
                        </tr>
        
                        <tr>
                            <td>Name</td>
                            <td>
                                <%= details.name %>
                            </td>
                        </tr>
        
                        <tr>
                            <td>Father Name</td>
                            <td>
                                <%= details.fatherName %>
                            </td>
                        </tr>
        
                        <tr>
                            <td>DOB</td>
                            <td>
                                <%= details.dob %>
                            </td>
                        </tr>
        
        
                        <tr>
                            <td>Gender</td>
                            <td>
                                <%= details.gender %>
                            </td>
                        </tr>

                        <tr>
                            <td>Occupation</td>
                            <td>
                                <%= details.occupation %>
                            </td>
                        </tr>
        
                        <tr>
                            <td>mobileNumber</td>
                            <td>
                                <%= details.mobileNumber %>
                            </td>
                        </tr>
        
                        <tr>
                            <td>land line
                            </td>
                            <td>
                                <%= details.landline %>
                            </td>
                        </tr>
        
                        <tr>
                            <td>id Proof Type</td>
                            <td>
                                <%= details.proofType %>
                            </td>
                        </tr>
        
                        <tr>
                            <td>Id Proof Number</td>
                            <td>
                                <%= details.proofNumber%>
                            </td>
                        </tr>

                        <tr>
                            <td>Address</td>
                            <td><%= details.address%></td>
                        </tr>
        
                        <tr>
                            <td>city</td>
                            <td>
                                <%= details.city%>
                            </td>
                        </tr>
        
                        <tr>
                            <td>Reference</td>
                            <td>
                                <%= details.reference%>
                            </td>
                        </tr>
        
                        <tr>
                            <td>Ref Relationship</td>
                            <td>
                                <%= details.refRelationship%>
                            </td>
                        </tr>
        
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- Loan Details Table view -->
        <div class="panel panel-primary">   
            <div class="panel-heading"><h2>LOAN DETAILS</h2></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>LOAN NUMBER</th>
                            <th>PRINCIPAL AMOUNT</th>
                        </tr>
                    </thead>
                    <!-- Loan Details Table  -->
                    <tbody>
                    <% for(var i=0; i < loanDetails.length; i++ ) { %>
                        <tr>
                            <td> <a href="/loan/collection/<%= loanDetails[i]._id %>" > <%= loanDetails[i].loanNumber %> </a> </td>
                            <td ><%= loanDetails[i].principal %></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div>              
            <a href= " <%= editLink %> "  class="btn btn-success btn-lg ">EDIT</a>
            <a href= " <%= newLoanLink %> " class="btn btn-success btn-lg ">New Loan</a>        
            <form method="POST" action=< %=deleteLink %> >
                <button id="del" class="btn btn-danger btn-lg pull-right" type="submit">Delete</button>
            </form>
        </div>        
    </div>
    </body>
</html>