 <!--Partial of Head  -->
 <% include ../partials/head %> 


  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>
<div class="container">

    <h2>Customer Report</h2><br>

<table class="table table-hover">
    <thead>
        <tr>
        <th>Name </th>
        <th>Dob</th>
        <th>Mobile Number</th>
        <th>Customer Id</th>
        </tr>
    </thead>
    <tbody>
    <% for(var i=0; i < customer.length; i++ ) { %>
        <tr>
            <td><a href="/customer/<%= customer[i]._id %>" > <%= customer[i].name %> </a> </td>
            <td> <%= customer[i].dob %></td>
            <td> <%= customer[i].mobileNumber%></td>
            <td> <%= customer[i].idCustomer %></td>
        </tr>
    <% } %>  
    </tbody>
</table>
</div>  

  </body>
  </html>