 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

<div class="container ">
    <br><br><br>     
  

<div class="col-lg-4 col-lg-offset-4">    
<table class="table table-hover" id="tab">    
    <tbody>
    <tr>
        <td> <h4>Principal Amount</h4></td>
        <td>
            <h4><%= detail.principalAmount %></h4>
        </td>
    </tr>
    <tr>            
        <td><h4>Interest / Year</h4></td>
        <td>
            <h4><%= detail.intrest %></h4>
        </td>
    </tr>
    <tr>
        <td><h4>Months</h4></td>
        <td>
            <h4><%= detail.months %></h4>
        </td>
    </tr>
    <tr>
        <td><h4>Total Amount</h4></td>
        <td>
            <h4 id="totalValue"></h4>
        </td>
    </tr>
    <tr>
        <td><h4>Total Interest Paid</h4></td>
        <td>
            <h4 id="intrestValue"></h4>
        </td>
    </tr>
    <tr>
        <td><h4>EMI Amount / Month</h4></td>
        <td>
            <h4 id="emiValue"></h4>
        </td>
    </tr>
    </tbody>
</table>
</div>


<script>    
//Script for EMI 

// Script Copied 
// var princ = document.calc.loan.value;
//  var term  = document.calc.months.value;
//  var intr   = document.calc.rate.value / 1200;

    var principal = <%= detail.principalAmount %> ;
    var intrest = <%= detail.intrest %> ;
    var months = <%= detail.months %>;

    var p = principal;
    var r = intrest / 1200;
    var t = months;
    
    var temp = 1 + r;
    var pow = Math.pow(temp, t);
    var prpow = p * r * pow;    

    var emiAmount = prpow / (pow - 1)   ;
    // console.log( emiAmount );


    //Emi Insert to div
    document.getElementById("emiValue").innerHTML = emiAmount.toFixed(2);

    // Total amount insert to div
    var totalAmount = emiAmount * t;
    document.getElementById("totalValue").innerHTML = totalAmount.toFixed(2);

    //Intrest Paid insert to div
    var intAmount = totalAmount - p ;
    document.getElementById("intrestValue").innerHTML = intAmount.toFixed(2);



    // EMI Calculator program in Python
    //  def emi_calculator(p, r, t):
    //      r = r / (12 * 100) # one month interest
    //      t = t * 12 # one month period
    //      emi = (p * r * pow(1 + r, t)) / (pow(1 + r, t) - 1)
    //      return emi

    //  # driver code
    //  principal = 10000;
    //  rate = 10;
    //  time = 2;
    //  emi = emi_calculator(principal, rate, time);
    //  print("Monthly EMI is= ", emi)

</script>
</body>
</html>



