 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

<div class="container ">
    <h2>Loan Details</h2>
    <br> <br>
<form action="/loan/new" method="POST">

    <div class="form-group">
        <label for="customerId">Customer Id:</label>
        <input type="text" class="form-control" id="customerId" name="customerId" value= <%= detail.customerId %>>
    </div>

    <div class="form-group">
        <label for="principalAmount">Principal Amount:</label>
        <input type="text" class="form-control" id="principalAmount" name="principalAmount" value= <%= detail.principalAmount %> >
    </div>
    
    <div class="form-group">
        <label for="intrest">Interest % / Year:</label>
        <input type="text" class="form-control" id="intrest" name="intrest" value= <%= detail.intrest %>>
    </div>
    
    <div class="form-group">
        <label for="months">Months :</label>
        <input type="text" class="form-control" id="months" name="months" value= <%= detail.months %>>
    </div>

    <div class="form-group">
        <label for="loanOption">Loan Type :</label>
        <input type="text" class="form-control" id="loanOption" name="loanOption" value= <%= detail.loanOption %>>
    </div>
    
    <div class="form-group">
        <label for="totalValue"> <h3>Total Amount :</h3></label>
        <input type="text" class="form-control" id="totalValue" name="totalValue">
    </div>
    
    <div class="form-group">
        <label for="intrestValue"><h3>Total Interest Paid :</h3></label>
        <input type="text" class="form-control" id="intrestValue" name="intrestValue">
    </div>

    <div class="form-group">
        <label for="emiAmount"><h3>EMI Amount :</h3></label>
        <input type="text" class="form-control" id="emiAmount" name="emiAmount">
    </div>

    <div class="form-group">
        <label for="loanNumber">Loan Id Number:</label>
        <input type="text" class="form-control" id="loanNumber" name="loanNumber" >
    </div>      
  
    <button class="btn btn-primary pull-right" type="submit">Add New Loan</button>  
</form>
</div>


<script>    
//Script for EMI 

// Script Copied 
// var princ = document.calc.loan.value;
//  var term  = document.calc.months.value;
//  var intr   = document.calc.rate.value / 1200;

    var principal = <%= detail.principalAmount %> ;
    var intrest = <%= detail.intrest %> ;
    var months = <%= detail.months %>;

    var p = principal;
    var r = intrest / 1200;
    var t = months;
    
    var temp = 1 + r;
    var pow = Math.pow(temp, t);
    var prpow = p * r * pow;    

    var emiAmount = prpow / (pow - 1)   ;
    // console.log( emiAmount );


    //Emi Insert to div
    document.getElementById("emiAmount").value = emiAmount.toFixed(2);

    // Total amount insert to div
    var totalAmount = emiAmount * t;
    document.getElementById("totalValue").value = totalAmount.toFixed(2);

    //Intrest Paid insert to div
    var intAmount = totalAmount - p ;
    document.getElementById("intrestValue").value = intAmount.toFixed(2);



    // EMI Calculator program in Python
    //  def emi_calculator(p, r, t):
    //      r = r / (12 * 100) # one month interest
    //      t = t * 12 # one month period
    //      emi = (p * r * pow(1 + r, t)) / (pow(1 + r, t) - 1)
    //      return emi

    //  # driver code
    //  principal = 10000;
    //  rate = 10;
    //  time = 2;
    //  emi = emi_calculator(principal, rate, time);
    //  print("Monthly EMI is= ", emi)

</script>
</body>
</html>



