 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

<!-- Container -->
    <div class="container">        
    <h2>Loan Details </h2>     
    <div class="panel panel-default">   
        <table class="table table-striped">
        <tbody>
            <tr>
                <td>Loan Number</td>
                <td><%= loan.loanNumber %></td>
            </tr>
            <tr>
                <td>Loan Type</td>
                <td><%= loan.type %></td>
            </tr>
            <tr>
                <td>Principal Amount</td>
                <td><%= loan.principal %></td>
            </tr>
            <tr>
                <td>Principal Amount Final</td>
                <td><%= loan.loanAmount %></td>
            </tr>
            <tr>
                <td>Intrest Rate</td>
                <td><%= loan.intrestRate %></td>
            </tr>
            <tr>
                <td>Interest Amount / Month</td>
                <td id="intrestAmount"></td>
            </tr>
            <tr>
                <td>Created Date</td>
                <td><%= loan.createdDate %></td>
            </tr>
        </tbody>
        </table>
    </div>
    
    <h3>Loan Collection </h3>
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Amount paid</th>
                    <th>Payment Date</th>                    
                </tr>
            </thead>
            <% for(var i=0; i < payment.length; i++) {%>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= payment[i].paymentAmount %></td>
                    <td><%= payment[i].date %></td>                                                            
                </tr>
            <% } %>
        </table>
    <h2>TOTAL Intrest Paid Till now = </h2>
  
    </div> 

        <a href="/loan/repay/<%= loan._id %>" class="btn btn-primary pull-right">REPAY INTREST</a>
        <a href="/loan/repay/principal/<%= loan._id %>" class="btn btn-primary pull-right">REPAY PRINCIPAL</a>
    </div>
    </body>

    <script>
        
        var principal = <%= loan.loanAmount %> ;
        var intrest = <%= loan.intrestRate %> ; 
        var months = 1;

        var simpleIntrest = ( principal * intrest * ( months / 12)  ) / 100;
        document.getElementById("intrestAmount").innerText =   simpleIntrest.toFixed(2) ; 
        
    </script>
</html>