 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

<!-- Container -->
    <div class="container">
        <ul>
            <h2>Loan Details </h2>
    
            <table class="table table-striped">
                <tbody>    
                    <tr>
                        <td>Loan Number</td>
                        <td><%= loan.loanNumber %></td>
                    </tr>                        
                    <tr>
                        <td>Loan Type</td>
                        <td><%= loan.type %></td>                        
                    </tr>
                    <tr>
                        <td>Principal Amount</td>
                        <td><%= loan.principal %></td>
                    </tr>

                    <tr>
                        <td>Interest Amount / Month</td>
                        <td id="intrestAmount" ></td>
                    </tr>

                </tbody>
            </table>    
    
        </ul>
        <a href="/loan/repay/<%= loan._id %>" class="btn btn-primary">Collect</a>
    </body>

    <script>
        var principal = <%= loan.principal %> ;
        var intrest = <%= loan.intrestRate %> ; 
        var months = 1;

        var simpleIntrest = ( principal * intrest * ( months / 12)  ) / 100;
        document.getElementById("intrestAmount").innerText =   simpleIntrest.toFixed(2) ;
        
    </script>
</html>