 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

<!-- Container -->
    <div class="container">        
        <h2>Loan Details </h2>    
        <table class="table table-striped">
            <tbody>    
                <tr>
                    <td>Loan Number</td>
                    <td><%= loan.loanNumber %></td>
                </tr>                        
                <tr>
                    <td>Loan Type</td>
                    <td><%= loan.type %></td>                        
                </tr>
                <tr>
                    <td>Principal Amount</td>
                    <td><%= loan.principal %></td>
                </tr>
                <tr>
                    <td>EMI Amount</td>
                    <td><%= loan.emiAmount%></td>
                </tr>                
                <tr>
                    <td>EMI Tenure</td>
                    <td><%= loan.emiMonths%></td>
                </tr>
                <tr>
                    <td>Resudual Amount</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
<!-- EMI PAYMENTS DETAILS -->
        <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Amount paid</th>
                            <th>Payment Date</th>                    
                        </tr>
                    </thead>
                    <% for(var i=0; i < loan.emiMonths; i++) {%>
                        <tr>
                            <td><%= i + 1 %></td>
                            <% if(payment[i]) {%>
                                <td><%= payment[i].paymentAmount %></td>
                                <td><%= payment[i].date %></td>
                            <% } %>                                           
                        </tr>
                    <% } %>
                </table>
            </div> 

    <a href="/loan/repay/<%= loan._id %>" class="btn btn-primary">Collect</a>
    </body>
</html>