    <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>


    <div class="container well ">
        <h2>Simple Intrest Collection :</h2><br><br>       
        <form action="/loan/repay" method="POST">

            <input type="text" id="loanId" name="loanId" value="<%= loan._id %>" hidden>

            <div class="form-group">
              <label for="principal">Intrest Amount :</label>
              <input type="text" class="form-control" id="principal" name="principal" value="<%= loan.principal %>" disabled>
            </div>

            <div class="form-group">
              <label for="instalmentNumber">Instalment No:</label>
              <input type="text" class="form-control" name="instalmentNumber" id="instalmentNumber" value="<%= paymentCount  + 1 %>" disabled>
            </div>    
            
            <div class="form-group">
                <label for="intrestAmount">Intrest Amount:</label>
                <input type="text" class="form-control" name="intrestAmount" id="intrestAmount" disabled >
            </div>

            <div class="form-group">
                <label for="paymentIntrest">Pay:</label>
                <input type="text" class="form-control" name="paymentIntrest" id="paymentIntrest" readonly>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <!-- <button onclick="goBack()">Go Back</button> -->

          </form>
    </div>

        

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <script>
        var principal = <%= loan.principal %> ;
        var intrest = <%= loan.intrestRate %> ; 
        var months = 1;

        var simpleIntrest = ( principal * intrest * ( months / 12)  ) / 100;
        document.getElementById("intrestAmount").value =   simpleIntrest.toFixed(2) ;
        document.getElementById("paymentIntrest").value =   simpleIntrest.toFixed(2) ;
        
    </script>

  </body>
  </html>