 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

<!-- <div class="container ">
    <br><br><br>
        <div class="col-lg-4 col-lg-offset-4">
    <H1>Simple Interest</H1>
    <table class="table table-hover" id="tab">    
        <tbody>
        <tr>
            <td> <h4>Principal Amount</h4></td>
            <td>
                <h4><%= detail.principalAmount %></h4>
            </td>
        </tr>
        <tr>            
            <td><h4>Interest / Year</h4></td>
            <td>
                <h4><%= detail.intrest %></h4>
            </td>
        </tr>
        <tr>
            <td><h4>Months</h4></td>
            <td>
                <h4><%= detail.months %></h4>
            </td>
        </tr>
        <tr>
            <td><h4>Total Amount</h4></td>
            <td>
                <h4 id="totalValue"></h4>
            </td>
        </tr>
        <tr>
            <td><h4>Total Interest Paid</h4></td>
            <td>
                <h4 id="intrestValue"></h4>
            </td>
        </tr>
        </tbody>
    </table>
</div> -->

<div class="container ">
    <h2>Loan Details</h2>
    <br> <br>
<form action="/loan/new" method="POST">

    <div class="form-group">
        <label for="customerId">Customer Id:</label>
        <!-- <input type="text" class="form-control" id="customerId" name="customerId" value= <%= detail.customerId %>> -->
        <input type="text" class="form-control" id="customerId" name="customerId" value= <%= detail.customerId %> >
    </div>

    <div class="form-group">
        <label for="principalAmount">Principal Amount:</label>
        <input type="text" class="form-control" id="principalAmount" name="principalAmount" value= <%= detail.principalAmount %> >
    </div>
    
    <div class="form-group">
        <label for="intrest">Interest % / Year:</label>
        <input type="text" class="form-control" id="intrest" name="intrest" value= <%= detail.intrest %>>
    </div>
    
    <div class="form-group">
        <label for="months">Months :</label>
        <input type="text" class="form-control" id="months" name="months" value= <%= detail.months %>>
    </div>

    <div class="form-group">
        <label for="loanOption">Loan Type :</label>
        <input type="text" class="form-control" id="loanOption" name="loanOption" value= <%= detail.loanOption %>>
    </div>
    
    <div class="form-group">
        <label for="totalValue"> <h3>Total Amount :</h3></label>
        <input type="text" class="form-control bg-secondary" id="totalValue" name="totalValue">
    </div>
    
    <div class="form-group">
        <label for="intrestValue"><h3>Total Interest Paid :</h3></label>
        <input type="text" class="form-control bg-secondary" id="intrestValue" name="intrestValue">
    </div>
    
    <div class="form-group">
        <label for="loanNumber">Loan Id Number:</label>
        <input type="text" class="form-control" id="loanNumber" name="loanNumber" >
    </div>      
  
    <button class="btn btn-primary pull-right" type="submit">Add New Loan</button>  
</form>
</div>

<script>
    var principal = <%= detail.principalAmount %> ;
    var intrest = <%= detail.intrest %> ; 
    var months = <%= detail.months %>;
    
    //Calculation For Simple intrest 
    // var rt = (intrest/100) * (months/12) + 1;
    // var finalAmount = principal * rt ;
    // var intVal = finalAmount - principal;   


    // P = Principal
    // R = rate% per annum 
    // T = time
    // I = simple interest 
    // A = amount
    // Formula for calculating simple interest is S.I = (P × R × T)/100
    // Important: Formula for calculating amount is A = P + I
    
    var simpleIntrest = ( principal * intrest * ( months / 12)  ) / 100;
    var finalAmount = principal + simpleIntrest;

    document.getElementById("totalValue").value =  finalAmount.toFixed(2);
    document.getElementById("intrestValue").value =   simpleIntrest.toFixed(2) ;
    

</script>
</body>
</html>

